.titleQuote{
    font-family: monospace;
    font-size: 47px;
    font-weight: 500;
    color: white;
    margin-left: 33%;
}

.content {
    background: #fff;
    max-width: 400px;
    min-height: 200px;
    border-radius: 5px;
    height: 400px;
    overflow: hidden;
    margin-left: 35%;
    margin-top: 5%;
}

blockquote {
    border-left: 10px solid #490A3D;
    margin: 10px 0px 0px 15px;
    padding: 15px 5px 00px 25px;
    font-size: 18px;
}

.subtitle {
    background: #fff;
    max-width: 400px;
    margin-left: 35%;
    margin-top: -1%;
    border-radius: 5px
}

.quoteText {
    font-family: fantasy;
    color: #045;
    display: inline;
    margin: 20px 0px 10px 0px;
    font-size: 25px;
}

.quote-author {
    font-family: cursive;
    font-size: 17px;
    font-weight: bold;
    color: #045;
    margin-top: 20px;
    text-align: right;
    margin-right: 20px;
}

.quote-button {
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: 25%;
    color: #ffff;
    background-color: #490A3D;
    font-family: monospace;
    font-weight: 400;
    font-size: 25px;
    height: 50px;
    width: 50%;
    cursor: pointer;
    text-align: center;     
}

.quote-button:hover {
    box-shadow: 1px 1px 10px #490A3D;
}
